[user]
	name = Neil Sweeney
	email = neil@enhko.com
	signingKey = ""
[core]
	excludesFile = ~/.dotfiles/.gitignore_global
[github]
	user = WolfieZero
[init]
	defaultBranch = main
[includeIf "gitdir:~/Dootrix/"]
	path = ~/Dootrix/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
